@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Oswald:300);
@import url(https://fonts.googleapis.com/css?family=Merriweather);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,400italic,500,500italic,700italic);
body { 
	font-size: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif
}
input { 
			font-size: 20px; 
			padding: 10px;
			display: inline-block;
			margin: 0;
			}
				input[type=submit] {
					padding:5px 40 5px 40; 
					border: 10px solid #DA0703;
					background: #DA0703;
					color: #fff; 
					border:0 none;
					cursor:pointer;
					font-family: 'Oswald', sans-serif;
				}
.clearfix { clear: both; display: hidden; padding: 0; margin: 0}
#nav-wrapper { 
	display: block;
	position: relative;
}
#nav-inner { margin: 0;}
	#nav-2 h1 { 
		color: #fff;
		font-family: 'Hind', sans-serif;
		font-size: 1.5em;
		float: left; 
		display: block;
		margin: 0; 
		position: relative;
		top: 0;
		height: auto;
		text-transform: uppercase;
		text-shadow: rgba(0, 0, 0, 0.6) 0px 2px 2px;
	}
	#nav-2 ul {
		position: absolute;
		right: 0;
		top: 0;
		
		width: auto;
		height: 100%;
	}
			#nav-2 ul li  { 
			color: #fff;
			list-style: none;
			display: inline-block;
			margin: 0;
			padding:25px;
			font-family: 'Oswald', sans-serif;
			font-weight: bold;
			text-transform: uppercase;
			vertical-align: sub;
		}
		#nav-2 ul li a { 
			text-decoration: none;
			color: #fff;
		}
		#nav-2 li:hover { border-top: 5px solid #fff; padding-top: 20px;}
#big-picture {
	background: url("../img/cap-back-transition2.png"); 
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 10% 60%;
	background-color:#070707;
	opacity: 0.85;
	display: block; 
	margin: 0;  
	padding: 25px;
	height: auto;
	max-width: 100% auto;
} 
	#big-picture h1 { 
		color: #fff;
		font-family: 'Oswald', sans-serif;
		font-size: 3em;
		margin: 0; 	
		text-shadow: rgba(0, 0, 0, 0.6) 0px 2px 2px;
	}
	#big-picture h2 { 
		font-family: 'Oswald', sans-serif;
		font-size: 2em;
		color: #fff;
		padding: 0; 
		margin: 0;
		font-weight: 300;
		text-shadow: rgba(0, 0, 0, 0.6) 0px 2px 2px;
	}
	#picture-text {margin-top: 2em; text-align: center}
	
#involve {
	background: #ccc; 
	margin: 0; 
	padding:10px; 
	border-bottom: 1px solid #999; 
	text-align: center;
}
	#involve h1 {
		font-family: 'Oswald', sans-serif; 
		color: #333;
		margin: 0;
		padding: 0px 15px 0 0;
	 	display: inline-block;
		vertical-align: sub;
	}
	#involve form {
		display: inline-block; 
		right: 0; 
		padding: 0; 
		margin: 0}
			
.learn-para {
	font-family: 'Merriweather', serif;
	font-size: 1.3em;
	font-weight: 600;
	color: #666;
	line-height: 1.3em;
	padding: 0 100px 0 100px;
	text-align: center;
	}

.separator {padding: 0 25px 0 25px; max-width:75%; margin: 0 auto;}
	#social-buttons { margin: 0 auto; text-align: center; }
	#social-buttons img { padding: 0 15px 0 15px; }
	
.write-rep {
	padding: 0 200px 0 200px;
	color: #666;
	text-align: Center;
}

	.write-rep h1 {
		color: #DA0703;
		font-family: 'Oswald', sans-serif;
		font-size: 4.4em;
		margin: 0;
		padding: 0;
	}
	.write-rep h2 { 
		font-family: 'OSwald', sans-serif; 
		font-weight: 500;
		margin: 0;
		padding: 0
	}

#action-1 { 
	font-family: 'OSwald', sans-serif;
	color: #222;
	text-align: center;
	padding: 5px 20px 20px 20px;
	width: auto;
	}
	#action-1 h1 { margin: 0; padding: 0}
#action-2 { 
	font-family: 'OSwald', sans-serif;
	color: #222;
	text-align: center;
	padding: 20px;
	width: auto;
	border-top: 15px solid #fff;
	}
	#action-2 h1 { margin: 0; padding: 0}
#action-3 h1 {font-size: 2em;}
#action-3 a { 
	background: #DA0703;
	padding: 40px 60px 40px 60px;
	text-decoration: none;
	color: #fff;
}
#action-3{
	color: #222;
	margin-top: 20px;
	text-align: center;
	font-family: 'Oswald', sans-serif;
}
#action-3 h2 { margin: 60px; }
#footer {
	background: #333;
	color: #ccc;
	font-size: .8em;
	padding: 5px 25px 5px 25px;
	margin-top: 50px;
}
	#copyright {
		float: left;
	}
	#credits {
	 float: right;
	}
	

#about-copy {
	padding: 20px 200px 0 200px;
	margin: 0 auto;
	font-family: 'Merriweather', serif;
	font-size: 1.23em;
	color: #444;
	line-height: 1.5em
}
